<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ssmr"> 
    <!-- SSMR stands for Skis-Steer Mobile Robot -->

    <xacro:include filename="common_properties.xacro"/>
    <xacro:include filename="ssmr_base.xacro"/>

    <xacro:if value="$(arg real_sys)">
        <xacro:include filename="ssmr_real_ros2_conrtol.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg real_sys)">
        <xacro:include filename="ssmr_gazebo_ros2_conrtol.xacro"/>
        <xacro:include filename="imu_sim.xacro"/>
    </xacro:unless>


</robot>